#quote-box {
  margin-top: 10%;
  padding: 20px;
  height: 30rem;
  width: 95%;
}

#text {
  height: 75%;
}
#author {
  text-align: right;
  height: 2rem;
  margin-top: 4rem;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.buttons {
  margin-top: 3rem;
  float: left;
}

@media (max-width: 667px) {
  .buttons {
    float: right;
    margin-top: 8rem;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  .buttons {
    display: inline-block;
  }

  #quote-box {
    margin-top: 5%;
    padding: 0px;
    height: 20rem;
  }

  #text {
    height: 25%;
    font-size: 1.2em;
  }

  #author {
    font-size: 1.2em;
    float: right;
  }
}
